@font-face {
    src: url("CursedTimer.ttf");
    font-family: CursedTimer;
}

body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 500px;
    height: 250px;
    border: solid 5px white;
    border-radius: 5%;
}

h3 {
    font-size: 30px;
    color: #EEEEEE;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-size: 90px;
    padding: 8px;
}

.score {
    font-family: CursedTimer;
    text-align: center;
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 160px;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
}

.btn {
    margin-left: 38px;
    margin-bottom: 20px;
}

button {
    margin: 0 3px;
    font-family: CursedTimer;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #1B244A;
    color: #9AABD8;
}